body {
  margin: 0;
  padding: 0;
  font-family: "Lovers Quarrel", serif;
  background: url("../images/poetbg2.png") no-repeat center center fixed;
  background-size: cover;
  color: #1b0e00;
  line-height: 1.6;
}

img {
  max-width: 100%;
  width: 100px;
}

/* .letter-container {
  height: 100px;
  overflow: hidden;
}

.letter-container.revealed {
  height: 3000px;
  transition: max-height 2s ease-in-out;
} */

.letter {
  max-width: 800px;
  min-height: 100vh;
  margin: 3.5rem auto;
  background-color: rgba(255, 250, 240, 0.5);
  padding: 40px;
  box-shadow: 0 0 30px #0000004d;
}

.title {
  font-family: "Fascinate Inline", cursive;
  font-size: 3.5rem;
  position: sticky;
  top: 0;
  z-index: -10;
  margin-left: 2rem;
  color: #3e2f1c;
}

.subtitle {
  font-family: "Comforter", cursive;
  font-size: 2.5rem;
  font-weight: normal;
  margin-bottom: 1.875rem;
}

.paragraph {
  font-size: 2.3rem;
  margin-bottom: 20px;
}

.animated-text span {
  display: inline-block;
  opacity: 0;
  animation: appear 0.1s forwards;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

.signature {
  font-family: "Lavishly Yours", cursive;
  font-size: 2em;
  text-align: right;
  margin-top: 40px;
  /* white-space: pre-wrap; */
}
